.r-menu-wrapper {
    $blockWidth: 820px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    width: calc(100% + $blockWidth);
    display: flex;
    justify-content: flex-end;
    overflow: clip;
    transform: translateX(calc($blockWidth - 70px));
    transition: transform ease-in-out .45s .05s, z-index 0s 0.45s;

    &.show {
        z-index: 3;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        transform: translateX(0);
        transition: transform ease-in-out .45s, z-index 0s;
    }

    &__menu {
        width: 70px;
    }

    &__content {
        position: relative;
        width: calc($blockWidth - 70px);
        height: 100vh;
        background: #ffffff;
        overflow: scroll;
        overflow-x: clip;

        &::after {
            @include circle-bg(right, top, -440px, -65px, 955px, 955px);
        }
    }

    @media screen and (max-width: 810px){
        bottom: 0;
        flex-direction: column;
        width: 100%;
        transform: translate(0, calc(100vh - 70px));

        &__menu {
            width: 70px;
        }

        &__content {
            width: 100%;
            &::after {
                top: unset;
                right: unset;
                bottom: -20vh;
                left: -30%;
            }
        }
    }

}

.r-menu {
    margin-top: 35vh;

    &__item {
        position: relative;
        background: #ffffff;
        padding: 20px 10px 20px 25px;
        margin-bottom: 10px;
        border-radius: 50% 0 0 50%;
        box-shadow: 2px 4px 5px rgb(0, 0, 0, .25);

        &.active {
            background: $colorAcent;
        }
    }

    @media screen and (max-width: 810px) {
        margin-top: 0;
        width: 100%;

        &__list {
            display: flex;
            justify-content: space-between;
            gap: 5px;
        }
        &__item {
            width: calc((100% - 5px * 3)/3);
            height: 30px;
            background: #ffffff;
            padding: 20px 0;
            margin-bottom: 0;
            border-radius: 0;
        }
    }
}

.capacity {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: 14px;
    border-radius: 50%;
    color: $mainColor;
    background: $colorAcent;

    &.show {
        display: flex;
    }
}
