.list-row p {
  flex: 1;
  text-align: center;
}
.list-row p:first-child {
  text-align: left;
}
.list-row p:last-child {
  text-align: right;
}

.account {
  margin-bottom: 10vh;
}
.account__container {
  display: flex;
  align-items: stretch;
  gap: 15px;
}
.account__menu {
  flex: 1;
}
.account__content {
  flex: 5;
  border: 3px solid #FFD582;
  padding: 50px;
}

.ac-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 65vh;
}
.ac-menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  background: #ffffff;
  border: 3px solid #FFD582;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
.ac-menu__item svg,
.ac-menu__item a {
  transition: ease-in-out 0.5s;
}
.ac-menu__item:last-child {
  margin-bottom: 0;
}
.ac-menu__item.active {
  background: #FFD582;
}
.ac-menu__item:hover {
  box-shadow: inset 0 0 0 5px #FFD582;
}
.ac-menu__item.active svg, .ac-menu__item:hover svg {
  transform: scale(1.4);
}
.ac-menu__item.active a, .ac-menu__item:hover a {
  font-size: 0;
}

.account-form {
  width: 100%;
}
.account-form__block {
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 5vh;
}
.account-form__item {
  min-width: 10%;
  flex: 2;
}
.account-form__item:nth-child(4) {
  flex: 1;
}
.account-form .btn {
  width: 30%;
}

.block {
  margin-top: 7vh;
}
.block:first-child {
  margin-top: 0;
}

.table {
  border: 3px solid #FFD582;
  border-color: #C1272D;
  margin-bottom: 20px;
  padding: 15px 20px;
}
.table p {
  margin-bottom: 10px;
}
.table__info {
  width: 60%;
}
.table__action {
  display: flex;
  gap: 10px;
}
.table__icon {
  background: #C1272D;
  padding: 5px;
  border: 3px solid #FFD582;
  border-color: #C1272D;
  border-radius: 50%;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.table__icon:hover {
  box-shadow: inset 0 0 0 2px #ffffff;
}
.table__icon svg {
  fill: #ffffff;
  vertical-align: top;
}
.table__no-reserve {
  font-weight: 700;
  color: #9ca3af;
}

.list__header {
  width: 100%;
  border-bottom: 3px solid #FFD582;
  border-color: #C1272D;
}
.list__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.list-row {
  width: 85%;
  margin: 20px;
}

.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion__item {
  width: 100%;
}
.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  background: #ffffff;
  border: 3px solid #FFD582;
  transition: all 0.3s ease-in-out;
}
.accordion__header:not(.active):hover {
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25);
}
.accordion__header.active {
  background: #FFD582;
}
.accordion__header.active + .accordion__content {
  opacity: 1;
}
.accordion__header.active > .accordion__btn {
  transform: rotate(180deg);
}
.accordion__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: #C1272D;
  border-radius: 50%;
  margin-right: 20px;
  border: 3px solid #FFD582;
  border-color: #C1272D;
  transition: all 0.3s ease-in-out;
}
.accordion__btn:hover {
  box-shadow: inset 0 0 0 2px #ffffff;
}
.accordion__btn svg {
  margin: 0;
}
.accordion__content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.accordion__all {
  position: relative;
  padding: 20px 30px;
  border: 3px solid #FFD582;
  border-top: none;
}
.accordion__all::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 80%;
  height: 100%;
  background: #C1272D;
  border-radius: 0 0 235px 0;
}
.accordion__all .btn {
  padding: 15px 0;
}
.accordion__row {
  gap: 10px;
}
.accordion__prices p:first-child {
  margin-bottom: 10px;
}
.accordion__price, .accordion__prices {
  font-weight: 700;
  color: #ffffff;
}

.account-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border: 3px solid #FFD582;
  border-top: none;
}
.account-card__item {
  width: 85%;
  justify-content: start;
  gap: 20px;
}
.account-card__img {
  display: flex;
  align-items: center;
  width: 20%;
  height: max-content;
  align-self: center;
  margin: 15px 0;
}
.account-card__img::after {
  content: "";
  display: block;
  width: 3px;
  height: 85px;
  background: #C1272D;
}
.account-card__title {
  margin-bottom: 30px;
}

.coupons-list {
  justify-content: start;
  flex-wrap: wrap;
  gap: 50px;
}
.coupons-list__item {
  flex: 1 0 25%;
  max-width: 25%;
  text-align: center;
  padding: 30px 0;
  border: 3px solid #FFD582;
  border-color: #C1272D;
}
.coupons-list__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

/*# sourceMappingURL=account.css.map */
