.book-form {
    width: 100%;
    margin-bottom: 10vh;
    &__row {
        align-items: flex-start;
        gap: 20px;
        margin-bottom: 5vh;
    }

    &__item {
        width: 30%;
    }
    .table-error {
        margin-bottom: 15px;
        color: #C1272D;
        font-weight: 800;
    }

    .btn {
        width: 20%;
        margin-top: 5vh;
    }
}

.table {
    fill: #FFD582;
    cursor: pointer;

    text {
        fill: #000000;
    }


    &.reserve {
        fill: #C1272D;
        cursor: auto;
        text {
            fill: #ffffff;
        }
    }

    &.edit {
        circle,
        rect{
            fill: #dedede;
        }
    }

    &.check,
    &:not(.reserve):hover {
        circle,
        rect{
            stroke: #C1272D;
            stroke-width: 3px;
        }
    }
}

