.table {
    padding: 20px 30px;
    background: #FFD582;
    text-align: center;

    &--reserve {
        background: #C1272D;
    }

    &.check {
        border: 3px solid #C1272D;
    }
}

.row {
    margin-bottom: 50px;
}

.book-form {
    width: 100%;
}
