@import "variables";

.catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 30px;
    margin-bottom: 10vh;
}

.detail {
    display: flex;
    margin-top: 90px; // исправить на центрирование по центру, когда появится footer
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 10vh;

    &__line {
        position: relative;
        width: 3px;
        height: 435px;
        background: $colorAcent;

        &::before {
            @include circle-bg(left, top, -7vw, 0, 350px, 100%);
            z-index: -2;
        }
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            height: 100%;
            width: 50vw;
            background: $mainColor;
            z-index: -1;
        }
    }

    &__info {
        position: relative;
        width: 45%;
        border: $border;
        overflow: clip;
        &::before {
            @include circle-bg(left, top, -15%, -30%, 480px, 480px);
            z-index: -1;
        }
    }

    &__info-wrapper {
        margin: 10vh 3vw;
    }

    &__desc {
        margin-bottom: 10px;
    }

    &__price {
        margin: 20px 0 5vh;

        &--old {
            font-size: larger;
            color: $colorCancel;
            text-decoration: line-through;
            margin-top: 10px;
        }
    }

    .like-h2 {
        margin-bottom: 0;
        color: $colorAcent;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        width: 70%;
    }

    .basket-btn {
        position: relative;
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;

        &:hover {
            svg {
                transform: scale(1.2);
            }

            &::before {
                width: 60px;
                height: 60px;
            }
        }

        &::before {
            @include circle-bg(left, top, 17px, 50%, 50px, 50px);
            transform: translate(-50%, -50%);
            z-index: -1;
            background: $colorAcent;
            transition: all .3s ease-in-out;
        }
        svg {
            fill: $mainColor;
            transition: all .3s ease-in-out;
        }
    }
}

.attr {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}
